:root {
    --primary-color: #fceb03;
    --secondary-color: #000;
    --opacity-black: rgba(0, 0, 0, 0.2);
    --link-visted-fontcolor: #05676e;
    --link-actived-fontcolor: #489c79;
    --button-fontcolor: white;
    --grid-item-color: rgba(252, 235, 3, 0.4);
    --sun-color: #ffc727;
    --sun-color-change: #f76414;
    --cloud-color: #ebebeb;
    --cloud-color-change: #f78914;
    --window-light-on: #f7d24a;
    --window-light-off: #263238;
    --primary-display: flex;
    --primary-flex-direction: column;
    --primary-size: 20px;
    --primary-font: 'PT Sans Narrow', sans-serif;
    --max-width: 100%;
    --primary-margin: auto;
    --primary-align: center;
    --secondary-size: 17px;
    --secondary-display: inline-block;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: var(--primary-display);
    flex-direction: var(--primary-flex-direction);
    max-width: var(--max-width);
    margin: var(--primary-margin);
    word-spacing: 2px;
}

nav {
    display: var(--primary-display);
    height: 30px;
    flex-direction: row;
    align-items: var(--primary-align);
    justify-content: space-between;
    margin: var(--primary-size);
}

.logo {
    width: 110%;
    margin-top: 15px;
}

li {
    list-style: none;
    display: var(--secondary-display);
    margin: var(--primary-size);
}

article ul {
    display: var(--primary-display);
    flex-direction: var(--primary-flex-direction);
    font-size: var(--primary-size);
    margin-bottom: var(--primary-size);
    padding: 0;
}

article ul,
form,
footer,
p,
h1,
nav ul li a {
    color: var(--secondary-color);
    font-family: var(--primary-font);
}

nav ul li a {
    font-size: var(--primary-size);
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
}

header {
    border-bottom: 1px solid var(--opacity-black);
    max-width: var(--max-width);
}

main,
footer {
    display: var(--primary-display);
    flex-direction: var(--primary-flex-direction);
}

article,
main {
    margin: var(--primary-margin);
}

footer {
    margin: 0 var(--primary-margin);
    margin-bottom: 0;
    font-size: var(--secondary-size);
    text-align: var(--primary-align);
}

footer div {
    line-height: 1.5em;
}

h1 {
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 0.5em;
}

h2 {
    font-size: 40px;
    font-family: var(--primary-font);
}

article {
    text-align: var(--primary-align);
    display: var(--primary-display);
    flex-direction: var(--primary-flex-direction);
    align-items: var(--primary-align);
}

article * {
    margin-bottom: 0;
}

article p {
    line-height: 30px;
    font-size: var(--primary-size);
}

.me {
    color: var(--primary-color);
    transition-duration: 2s;
}

p {
    font-size: var(--primary-size);
    line-height: 50px;
}

nav div img {
    position: relative;
}

nav ul {
    text-align: right;
}

nav ul li a:hover {
    display: block;
    z-index: 2;
    background-color: var(--primary-color);
    border-radius: var(--primary-size);
    width: 170%;
    text-align: var(--primary-align);
    line-height: 40px;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}

.code:visited,
.myinfo a:visited {
    /* visited link */
    color: var(--link-visted-fontcolor);
}

.code:hover,
.myinfo a:hover {
    display: block;
    z-index: 2;
    background-color: var(--primary-color);
    border-radius: var(--primary-size);
    text-align: var(--primary-align);
    line-height: 40px;
    cursor: pointer;
    width: var(--max-width);
}

.code:active,
.myinfo a:active {
    /* selected link */
    color: var(--link-actived-fontcolor);
}

button {
    appearance: none;
    background: var(--secondary-color);
    color: var(--button-fontcolor);
    border-radius: 10px;
    line-height: 30px;
    margin: 10px var(--primary-margin);
    border: none;
    transition-duration: 0.9s;
}

button:hover {
    display: var(--secondary-display);
    z-index: 2;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: var(--primary-align);
    cursor: pointer;
    width: 20%;
}

.selfie {
    max-width: 300px;
    border-radius: 70px;
}

.welcome {
    display: var(--primary-display);
    margin: 8em var(--primary-margin);
    flex-direction: row;
    justify-items: var(--primary-align);
}

.welcome * {
    margin: var(--primary-size) 0;
}

.welcomemsg {
    padding-left: 3em;
}

@media all and (max-width: 500px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .grid_msg {
        font-size: var(--secondary-size);
        line-height: 1.5em;
    }
}

@media all and (min-width: 501px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em;
    }

    .grid__item:last-child {
        grid-column: 3 3;
        grid-row: 1 3;
    }

    .grid_msg {
        font-size: var(--secondary-size);
        line-height: 2em;
    }
}

.grid__item {
    background-color: var(--grid-item-color);
    border-radius: var(--primary-size);
    box-shadow: 2px 11px 26px var(--opacity-black);
}

.grid__item * {
    margin: var(--secondary-size);
}

.grid__item div {
    margin-left: 0;
}

.download {
    border: none;
    display: var(--secondary-display);/* takes the font from the outer container */
    font-family: var(--primary-font);/* style button */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;/* width of the border, type, color */
    border-bottom: 2px solid var(--opacity-black);
    transition: 0.2s opacity;
}

.download:hover,
.download:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;/* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.nyc {
    width: 150%;
    max-width: 600px;
}

.work {
    margin: var(--primary-margin) 3em;
}

@keyframes color-change {
    from {
        fill: var(--sun-color);
    }

    to {
        fill: var(--sun-color-change);
    }
}

@keyframes cloud-color-change {
    0% {
        fill: var(--cloud-color);
    }

    50% {
        fill: var(--cloud-color-change);
    }

    100% {
        fill: transparent;
    }
}

@keyframes window-color-change {
    from {
        fill: var(--window-light-on);
    }

    to {
        fill: var(--window-light-off);
    }
}

@keyframes dark-window-color-change {
    from {
        fill: var(--window-light-off);
    }

    to {
        fill: var(--window-light-on);
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

@keyframes bird-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, -200px);
    }
}

@keyframes bird-big {
    from {
        transform: scale(0, 0);
    }

    to {
        transform: scale(2, 2);
    }
}

.window {
    animation: window-color-change 1s linear infinite alternate;
}

.dark-window {
    animation: dark-window-color-change 1s linear infinite alternate;
}

.cloud-move {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud {
    animation: cloud-color-change 30s linear -2s infinite alternate;
}

.sun {
    animation: color-change 4s linear -2s infinite alternate;
}

.bird {
    animation: 30s bird-move infinite alternate ease-in-out;
}

.bird-big {
    animation: 30s bird-big infinite alternate ease;
}
